.App-class {
  background-color: white;
  height: 100vh;
  font-size: calc(7px + 2vmin);
  font-weight: bold;
  align-items: center;
  text-align: center;
  color: black;
}

html,body {
  margin: 0;
  padding: 0;
  height:100vh;
}


/*Start of Card CSS*/

.clientcard {
  border: 2px solid rgb(94, 94, 94);
  background-color: rgb(233, 233, 233);
  transition: 0.3s;
  border-radius: 1vh;
  height: 32.5vh;
  text-align: center;
  margin-top: 1vh;
}

/* On mouse-over, add a deeper shadow */
.clientcard:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  width: 35vh;
}

/*End of Card CSS*/


/*Start of Card Side by Side CSS*/


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
  float: left;
  width: 19%;
  padding: 0.5%;
}

.row1 {
  height: 20vh;
}


/*End of Card Side by Side CSS*/

.helvetica-text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 700;
  color: black;
  text-align: center;
  font-size: calc(7px + 2vmin);
}

#RegistrationForm {
  text-align: center;
}

/*Style for Registration Form*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#RegistrationDiv {
  border-radius: 5px;
  padding: 20px;
}

body {

  background-color: #f2f2f2;
 }

 .error {
  background-color: tomato;
  color: white;
  padding: 10px;
}
