$color-red: #ff0000;
$color-white: #FFFFFF;
$color-btn-primary: #FF9900;
$color-btn-link: #007EB9;
$color-event-inactive: #e9e9e9;
$color-event-open: #ff6961;
$color-event-acknowledged: #fdfd96;
$color-issue-open: #ef5350;
$color-sub-event-info: #6ac3e3;

html * {
  font-family: "Amazon Ember", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.container {
  max-width: 95% !important;
  padding: 15px 0 0 0 ;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80% !important;
  }
}

.main-wrapper {
  padding: 0 0 100px;
  position: relative;
}

.text-align-center {
  text-align: center;
}

body {
  -webkit-font-smoothing: antialiased;
}

.table > thead > tr > th {
  font-size: 14px;
  vertical-align: middle;
}

.table > tbody > tr > td {
  font-size: 14px;
  vertical-align: middle;
}

.table > tfoot > tr > th {
  font-size: 14px;
  vertical-align: middle;
}

.table-align-top {
  vertical-align: top !important;
}

.fixed-th-150 {
  width: 150px;
}

.fixed-th-50 {
  width: 50px;
}

.fixed-th-20 {
  width: 20px;
}

.view {
  position: relative;
}

.notification {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 10;
}

.custom-card {
  margin-bottom: 20px;
}

.custom-card-big {
  padding: 10px 10px 10px 10px;
}

.custom-card-event {
  text-align: center;
  height: 100%;
  min-height: 32.5vh;
  background-color: $color-event-inactive !important;
  cursor: pointer;
}

.custom-card-sub-event {
  text-align: center;
  height: 100%;
  min-height: 165px !important;
  max-height: 165px !important;
  min-width: 165px !important;
  max-width: 165px !important;
  background-color: $color-event-inactive !important;
  cursor: pointer;
}

.custom-card-event-col {
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-card-issue {
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-card-issue > .card-header {
  background: $color-issue-open;
  color: $color-white;
}

.event-open {
  background-color: $color-event-open !important;
}

.event-acknowledged {
  background-color: $color-event-acknowledged !important;
}

.event-closed-rejected {
  background-color: $color-event-inactive !important;
}

.sub-event-info {
  background-color: $color-sub-event-info !important;
}

.sub-event-back-icon {
  font-size: xx-large;
}

.sub-event-name-container {
  float: left;
  margin-right: 1rem;
}

.new-sub-event-name-container {
  margin-right: 1rem;
}

.sub-event-button-container > button {
  margin-right: 1rem;
}

.sub-event-back {
  background-color: $color-event-inactive !important;
  font-size: 2rem;
  cursor: pointer;
}

.btn-primary {
  background-color: $color-btn-primary !important;
  border-color: $color-btn-primary !important;
}

.btn-link {
  color: $color-btn-link !important;
}

.cookie-banner {
  position: fixed !important;
  width: 100%;
  bottom: 57px;
  z-index: 99999 !important;
  text-align: center;
  display: inline-block !important;
  font-size: 14px;
}

.cookie-banner-font {
  color: $color-white !important;
}

.cookie-banner-font > a {
  color: $color-white !important;
  text-decoration: underline;
}

ul {
  padding-inline-start: 20px;
  margin-bottom: 0 !important;
}

.required-field {
  color: $color-red;
}

.form-group-no-margin {
  margin-bottom: 0 !important;
}

.amplify-s3-image {
  --height : 100px;
  --width: 100px;
  overflow: hidden;
}

.amplify-s3-image.event-image {
  margin-right: 5px;
}

.amplify-s3-image.event-image.selected {
  height: 100px;
  border: 5px solid $color-btn-primary;
  display: inline-block;
}

.event-image-thumbnail-container {
  position: relative;
  width: 40px;
  height: 40px;
}

.event-image-thumbnail-container > .amplify-s3-image {
  --height : 40px;
  --width: 40px;
}

.event-image-thumbnail-container div {
  position: relative;
  height: 100%;
  width: 100%;
}

.event-image-thumbnail {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.client-event-img-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.client-event-img-container > .amplify-s3-image {
  --height: auto;
  --width: 75%;
}

.client-event-card-body {
  display: flex;
  flex-direction: column;
}

.client-event-img-container > div {
  max-height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.client-event-img-container img {
  margin: auto;
  max-width: 75%;
}

.div-upload-new-image-button {
  position: relative;
  margin-top: 5px;
}

.div-upload-new-image-button input {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  cursor: pointer;
}

.automated-issues-heading .automated-issues-heading-label {
  font-size: x-large;
  margin-right: 1rem;
}

.anomaly-modal-name-col {
  width: 20rem;
}

.sub-event-card-col {
  width: 10rem !important;
}

.sub-event-modal-form-group {
  padding: 0 !important;
}

.sub-event-to-be-deleted {
  text-decoration: line-through;
}

.sub-event-list-indent-0 {
  margin-left: 0;
}

.sub-event-list-indent-1 {
  margin-left: 3rem;
}

.sub-event-image-select-container {
  margin-top: 1rem;
}

.sub-event-image-button-container {
  margin-top: 1rem;
}

.sub-event-image-button-container > button {
  margin-right: 1rem;
}

.sub-event-image-thumbnail-container {
  float: left;
}

.sub-event-image-thumbnail-container > .amplify-s3-image {
  --height : 40px;
  --width: 40px;
}
